<launch>
    <node pkg="tf_follower"  type="tf_master_broadcaster"  name="master" machine ="zcy-omen-by-hp-laptop-15-ce0xx" />
    <node name="xtark_driver" pkg="xtark_driver" type="xtark_driver" output="screen" ns="follower1"  respawn="true" machine ="xtark-robot" ></node>
    <node pkg="tf_follower"  type="tf_follower_broadcaster"   name="pub1"   args="follower1"    output="screen" machine ="xtark-robot"  ></node>
    <node pkg="tf_follower"  type="tf_listener"  name="listener1"  machine="xtark-robot"  ></node>
</launch>